/*
Web-Design-Challenge Styling
*/
body {
       background: lightgrey;
    }

#top-fig1{
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160pxborder 3px solid white;

    }
.main-content p{
    font-family: arial;
    font-size: large;
    /*main content box format*/   
    }

.visual-description{
    padding-top: 20px;
    }

.left{
    float:left;
    padding: 0 10px 0 0;  
    /* Text wrap around image */
    }

.left_noWrap{
    float:left;
    }

h1{
    font-family: serif;    
    color: teal;
    font-size: xx-large;
    font-weight: bold; 
    }

h2{
    font-family: serif;    
    color: teal;
    font-size: x-large;
    font-weight: bold;
    }

.image-headers{
    font-family: serif;    
    color: teal;
    font-size: large;
    font-weight: bold;
    text-align: center;
    }

.main-content{
    background-color:whitesmoke;
    padding: 25px;
    }    

.right-pane{
    background-color:whitesmoke;
    padding: 20px;
    column-width: auto; 
    margin-bottom: 30px;
    }

hr{
    border-color: rgb(175, 174, 174);
    }

.navbar-header{
    min-height: 50px;
    width: 5%;
    font-family: serif;
    font-size: large ;
    }

#navbar_id{
    background-color: lightslategray;
    margin-left: 15px;
    color: white;
    text-align: center;
    } 

#navbar_id2{
    background-color: lightslategray;
    color: white;
    text-align: center;
    } 

.nav-button{
    float: right;  
    } 

.right-content{
    column-width: auto;
    height: auto;
    position:relative ;
    padding-top: 20px;
    }

footer{
    padding-top: 10px;
    text-align: center; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-style: solid;
    background-color: #696565;
    border-top-width: 5px; 
    border-top-color: teal;
    color: white; 
    min-height: 60px;
    font-family: serif;
    font-size: 14px;
    }

.plots-dropMenu{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;  /*remove dropdown list bullets*/
    }

#table-id{
    overflow: auto; /*prevent table overflow*/
    }

#rightleft-id{
    overflow: auto; 
    }

@media screen and (max-width: 800px){
    .container-fluid {
        background-color: lightseagreen; /*change top navbar color when screen size change*/
      
        }
    }
        
.navbar-toggle{
    position: absolute;
    top: 0;
    right: 0;
    } 

#hover-1:hover{
    border: 3px solid rgb(139, 179, 179);
    }

#hover-2:hover{
    border: 3px solid rgb(139, 179, 179);
    }  /*change border color when hover over*/

#hover-3:hover{
    border: 3px solid rgb(139, 179, 179);
    }  /*change border color when hover over*/

#hover-4:hover{
    border: 3px solid rgb(139, 179, 179);

    }  /*change border color when hover over*/



